In [2]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv')

In [3]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [10]:
# балл по письму у студента под индексом 155
student_data.iloc[155,-1]

88

In [11]:
# Сколько суммарно пропущенных значений в таблице (нулевых нет)
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [13]:
round(student_data['math score'].mean())

66

In [14]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [16]:
# средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам
mean_reading_score = student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()
round(mean_reading_score)

74

In [18]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0].shape[0]

1

In [28]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше,
# чем у студентов с льготным питанием.
mean_math_score_free_lunch = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
mean_math_score_standard_lunch = student_data[student_data['lunch']=='standard']['math score'].mean()
if mean_math_score_free_lunch > mean_math_score_standard_lunch:
    display(f'Free lunch: {round(mean_math_score_free_lunch)}') 
elif mean_math_score_free_lunch < mean_math_score_standard_lunch:
    display(f'Standart lunch: {round(mean_math_score_standard_lunch)}')

'Standart lunch: 70'

In [31]:
# процент студентов, родители которых имеют высшее образование уровня бакалавриата
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [34]:
# Насколько медианный балл по письму у студентов в расовой группе А 
# отличается от среднего балла по письму у студентов в расовой группе C?
median_score_A = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_score_C = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
display(abs(round(median_score_A-mean_score_C)))

6